
main {
    width: 100%;
    flex-grow: 1;
    
    .hero-section {
        width: 100%;
        max-width: 1280px;
        height: 520px;

        margin: 0 auto;
        padding: 0 1rem;

        display: flex;
        align-items: center;
        gap: 50px;

        article {
            max-width: 550px;
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 20px;

            h2 {
                font-size: 42px;
                font-weight: 700;
            }
        }
    }
}