
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Istok Web", sans-serif;
}

html, body {
    min-height: 100dvh;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 2ms ease-in-out;
    cursor: pointer;
}

a:hover {
    color: #007bff;
}


ul {
    list-style: none;
}


.header-button, .default-button {
    padding: 0 12px;
    height: 40px;
    font-size: 14px;
    font-weight: 400;

    display: flex;
    align-items: center;
    justify-content: center;
}

.outline-button {
    border-radius: 999px;
    border: 1px solid #D8D9DA;

    &:hover {
        background-color: #D8D9DA;
        color: #000;
    }
}
.primary-button {
    background-color: #000;
    color: white;
    border-radius: 999px;

    &:hover {
        background-color: hsla(0, 0%, 0%, 0.80);
        color: white;
    }
}